<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QuanLiCuaHang.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="QuanLiCuaHang.Properties.Settings.QuanliCuaHangConnectionString"
            connectionString="Data Source=DESKTOP-OGLE16K\SQLEXPRESS;Initial Catalog=QuanliCuaHang;User ID=sa;Password=12345678"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <QuanLiCuaHang.Properties.Settings>
            <setting name="ConStr" serializeAs="String">
                <value>Server = .\SQLEXPRESS; Database = QuanliCuaHang; Integrated Security = SSPI; Uid = sa; Pwd = 12345678;</value>
            </setting>
        </QuanLiCuaHang.Properties.Settings>
    </userSettings>
</configuration>